#menu-section {
	background-color:#333333;
	top:0px;
	left:0px;
	
	padding: 0px 10% 0px 10%;
	overflow: auto;
	white-space: nowrap;
}
.menu-item-wrapper {
	  display: inline-block;  
}
.menu-item-image:hover {
	opacity:1.0;
}
.menu-item-image {
	height:70%;
	margin:15% 20px 15% 20px;
	opacity:.65;
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
